@model IEnumerable<Category>
<div class="list-group">
    
    <a href="/" class="list-group-item list-group-item-action">Ana sayfa</a>

    @foreach (var category in Model)
    {
        <a asp-action="Index" asp-controller="Home" asp-route-categoryId="@category.Id"  class="list-group-item list-group-item-action">@category.Name</a>
    }

    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Editor")))
    {
        <a asp-action="Index" asp-controller="Products" class="list-group-item list-group-item-action">Ürün İşlemleri</a>
    }
   
</div>