@model UserResponseModel

<form method="post">
    <input class="form-control" asp-for="Name" placeholder="Adınız" />
    <span class="form-control" asp-validation-for="Name"></span><br />
    <input class="form-control" asp-for="LastName" placeholder="Soyadınız" />
    <span asp-validation-for="LastName"></span>
    <br />
    <input class="form-control" asp-for="Email" placeholder="E-posta" />
    <span asp-validation-for="Email"></span>
    <br />
    <button type="submit">Gönder</button>
</form>

